<h1>Admin::Companies#index</h1>

<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="row justify-content-end">
        <div class="m-2">
          <%= link_to new_admin_company_path do %>
            <%= image_tag 'plus.png', size:"30x30" %>
          <% end %>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Nationality</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @companies.each do |company| %>
            <tr>
              <td>
                <%= link_to admin_company_path(company) do %>
                  <%= image_tag company.get_logo_image(50,50) %>
                <% end %>
              </td>
              <td>
                <%= company.name %>
              </td>
              <td>
                <%= image_tag company.country.get_flag_image(100, 50) %><br>
                <%= company.country.name %>
              </td>
              <td>
                <%= link_to "Details", admin_company_path(company), class:"btn btn-block btn-info" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>