<div class="col-4 offset-md-1">
    <h3>New delivery</h3>
      <%= form_with model:@delivery do |f| %>
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>

        <div class="form-group">
          <%= f.label :address %><br>
          <%= f.text_field :address %>
        </div>

        <div class="form-group">
          <%= f.label :postal_code %><br>
          <%= f.text_field :postal_code %>
        </div>

        <div class="form-group">
          <%= f.submit 'Submit' %>
        </div>
      <% end %>
    </div>