<h1>ジャンル一覧</h1>
<%= render 'admin/shared/error_messages', resource: @genre %>
<div class="container">
  <% @genres.each do |genre| %>
  <div class="row">
    <div class="col-sm-4"><li><%= genre.name %></li></div>
    <div class="col-sm-8"><%= link_to 'Edit', edit_admin_genre_path(genre.id) %></div>
  </div>
  <% end %>
</div>

<div class="container">
  <%= form_with model: [:admin, @genre] do |f| %>
    <div class="row">
      <div class="from-group col-sm-4">
        <%= f.text_field :name, class:"form-control" %>
      </div>
      <div class="from-group col-sm-4">
        <%= f.submit 'Create genre', class:"btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>

