<h1>Public::Companies#index</h1>

<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Nationality</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @companies.each do |company| %>
            <tr>
              <td>
                <%= link_to company_path(company) do %>
                  <%= image_tag company.get_logo_image(50,50) %>
                <% end %>
              </td>
              <td>
                <%= company.name %>
              </td>
              <td>
                <%= image_tag company.country.get_flag_image(100, 50) %><br>
                <%= company.country.name %>
              </td>
              <td>
                <% if company.favorited_by?(current_customer) %>
                  <%= link_to favorite_companies_path(favorite_company: {company_id: company.id}), method: :delete, class:"btn btn-block btn-danger" do %>
                    <i class="fas fa-thumbs-up"></i> <%= company.favorite_companies.count %>
                  <% end %>
                <% else %>
                  <%= link_to favorite_companies_path(favorite_company: {company_id: company.id}), method: :post, class:"btn btn-block btn-success" do %>
                    <i class="far fa-thumbs-up"></i> <%= company.favorite_companies.count %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to "details", company_path(company), class:"btn btn-block btn-info" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>