<h1>Public::Companies#show</h1>

<div class="container">
  <div class="row">
    <div class="col-6 offset-1">
      <h2><%= @company.name %></h2>
      <p><%= @company.introduction%></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-1">
      <h3>基本情報</h3>
      <table class="table table hover">
        <tr><th>国</th><td><%= image_tag @company.country.get_flag_image(100, 50) %><br><%= @company.country.name %></td></tr>
        <tr><th>メールアドレス</th><td><%= @company.email %></td></tr>
        <tr><th>電話番号</th><td><%= @company.phone_number %></td></tr>
        <tr><th>ステータス</th><td><%= @company.is_active %></td></tr>
      </table>

     <%= link_to "一覧へ戻る", companies_path(@company), class:"btn btn-secondary" %>

    </div>
    <div class="col-4">
     <%= image_tag @company.get_logo_image(300,300) %><br>
    </div>
  </div>

</div>