<h1><%= @wine.name %></h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6"  style="margin-top: 10px;">
      <div class="row">
        <div class="col-sm"><%= image_tag @wine.get_wine_image(200, 200) %></div>
        <div class="col-sm favorite-btn"><%= render 'public/favorite_wines/favorite', wine: @wine %></div>
      </div>
      <table>
        <tr>
          <th>国</th>
          <td><%= @wine.country.name %></td>
        </tr>
        <tr>
          <th>企業</th>
          <td><%= @wine.country.name %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @wine.genre.name %></td>
        </tr>
        <tr>
          <th>税抜価格</th>
          <td><%= @wine.price %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <% if @wine.is_sold %>
            <td>販売中</td>
          <% else %>
            <td>販売停止中</td>
          <% end %>
        </tr>
      </table>
      <div class="comments-index" style="margin-top: 10px;">
        <%= render 'public/wine_comments/index', comments: @comments, wine: @wine, comment: @comment %>
      </div>
      <%= link_to 'ワイン一覧へ', wines_path %>
    </div>
    <div class="col-sm-6">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <canvas id="radarChart"></canvas>
        <script>
            let radarCtx = document.getElementById("radarChart");
            let radarConfig = {
              type: 'radar',
              data: {
                labels: ['maturity', 'fruity', 'flavor', 'bitter', 'smooth', 'aftertaste'],
                datasets: [{
                  label: 'Wine radar chart',
                  data: [ <%= @wine.maturity %>, <%= @wine.fruity %>, <%= @wine.flavor %>, <%= @wine.bitter %>, <%= @wine.smooth %>, <%= @wine.aftertaste %>],
                  borderColor: '#f88',
                  fill: 1
                }],
              },
              options: {
                scales: {
                  r: {
                    angleLines: {
                      display: false,
                    },
                    suggestedMin: 0,
                    suggestedMax: 5,
                    ticks: {
                      stepSize: 1,
                    },
                    angleLines: {
                      color: 'grey'
                    }
                  }
                }
              }
            };
            let radarChart = new Chart(radarCtx, radarConfig);
        </script>
    </div>
  </div>

</div>

