<!DOCTYPE html>
<html>
  <head>
    <title>WineryProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/da841da865.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-bottom: 100px;">
    <header class="shadow-sm mb-3">
      <%= render 'layouts/header' %>
    </header>

    <main class="px-5 mb-5">
      <%= yield %>
    </main>

    <footer class="fixed-bottom bg-light text-dark py-4">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
